<a href="https://colab.research.google.com/github/Subhashree-2004/Subhashree_2201206070/blob/main/Set_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
rows=6
for i in range(rows):
  for j in range(i):
    print(i,end='')
  print('')

1
22
333
4444
55555

In [ ]:
rows=6
b=0
for i in range(rows,0,-1):
  b += 1
  for j in range(1,i,+1):
    print(b,end='')
  print('\r')

11111
2222
333
44
5

In [ ]:
n=5
for i in range(n,0,-1):
  b=i
  for j in range(0,i):
    print(b,end='')
  print('\r')

55555
4444
333
22
1

In [ ]:
for i in range(5,0,-1):
  for j in range(i,6):
    print(i,end='')
  print('')

5
44
333
2222
11111

In [ ]:
rows=5
num=rows
for i in range(rows,0,-1):
  for j in range(0,i):
    print(num,end='')
  print('')

55555
5555
555
55
5

In [ ]:
rows=6
for i in range(rows,0,-1):
  for j in range(0,i+1):
    print(j,end='')
  print('')

0123456
012345
01234
0123
012
01

In [ ]:
rows=6
for i in range(1,rows):
  for j in range(i,0,-1):
    print(j,end='')
  print('')

1
21
321
4321
54321

In [ ]:
rows=8
for i in range(1,rows+1):
  for j in range(1,i+1):
    sq=i*j
    print(i*j,end=" ")
  print('\r')

1
2 4
3 6 9
4 8 12 16
5 10 15 20 25
6 12 18 24 30 36
7 14 21 28 35 42 49
8 16 24 32 40 48 56 64

In [ ]:
rows=70
for i in range(65,rows):
  for j in range(65,i+1):
    print(chr(i),end=" ")
  print(" ")

A
B B
C C C
D D D D
E E E E E

In [ ]:
rows=6
for i in range(1,6):
  print(str(i)*(i))

for i in range(4,0,-1):
  print(str(i)*(i))

1
22
333
4444
55555
4444
333
22
1

In [ ]:
for i in range(5,0,-1):
  print(str(i)*(i))
for i in range(1,6):
  print(str(i)*(i))

55555
4444
333
22
1
1
22
333
4444
55555

In [ ]:
def pattern(n):
  for i in range(1,n+1):
    print(str(i)*(n-i+1))
  for i in range(n-1,0,-1):
   print(str(i)*(n-i+1))
pattern(5)

11111
2222
333
44
5
44
333
2222
11111

In [ ]:
rows=6
l=2*rows-2
for i in range(0,rows):
  for j in range(0,l):
    print(end=" ")
  l=l-2
  for j in range(0,i+1):
    print("*",end=" ")
  print("")

          *
        * *
      * * *
    * * * *
  * * * * *
* * * * * *